<div class="page-header">
  <h1><%= @bankaccount.name %>
    <small><%= @bankaccount.number %></small>
  </h1>
</div>
<p class="balance"><%= format_currency(@bankaccount.balance, @bankaccount.currency) %></p>
<hr />
<div class="transactions">
  <table width="100%">
    <thead>
    <tr>
      <th class="right">date</th>
      <th>memo</th>
      <th class="right">amount</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @bankaccount.transactions.order_by([:operation_date, :desc]).each do |t| %>
		<%= render :partial => "transaction_row", :locals => {:transaction => t, :account => @bankaccount} %>
    <% end %> 
   </tbody>
  </table>
</div>  
