<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Currency:</b>
  <%= @user.currency.code if @user.currency %>
</p>


<%= link_to 'Settings', user_settings_path %>
