<div class="page-header">
  <h1>New user</h1>
</div>

<div class="row">
<div class="span4">
  <h2>Info</h2>
  <p>Your email will only be used for confirmation, login and password recovery.</p>
</div>
<div class="span12">
  <%= render "signup" %>
</div>
</div>
