<h1>New event</h1>
<h2>Choose type:</h2>
<ul>
  <li><%= link_to "Payment", new_payment_path %></li>
  <li>Deposit</li>
  <li>Transfer</li>
  <li>Payslip</li>
</ul>


<%= link_to 'Back', events_path %>
