body {
  margin: 0px;
  margin-top: 36px;
  padding: 1em;
}

.container {
  width: 950px;
  margin: 0 auto;
  
  h2 {
    margin: 3px 0px;
  }
  
  table {
    width: 100%
  }

  .content {
    position: relative;
    top: 16px;
    margin: 3px;

    .col-left {
      float: left;
      width: 600px;
    }    
    
    .col-right {
      float: left;
      width: 300px;
    }
  }
}



header {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(35, 30, 30, 0.975);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$from,endColorstr=$to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=rgba(35, 30, 30, 0.95), endColorstr=#231E1E)";
  background-image: -webkit-gradient(linear,0% 0,0% 100%,from(rgba(35, 30, 30, 0.95)),to(#231E1E));
  background-image: -moz-linear-gradient(top,rgba(35, 30, 30, 0.95) 0,#231E1E 100%);
  background-image: -o-linear-gradient(top,rgba(35, 30, 30, 0.95) 0,#231E1E 100%);
  z-index: 1001;
  padding: 6px 0;
  color: #CCC;
  height: 48px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #040000;

  .container {
    height: 54px;

    .logo {
      float: left;
      top: 8px;
      position: relative;

      a {
        font-size: 3em;
        color: #ccc;
        background-color: transparent;
        text-decoration: none;
      }
    }

    .right {
      float: right;
      position: relative;
      top: 0.7em;
      a {
        color: #ccc;
        background-color: transparent;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

header .tabs {
  list-style-type: none;
  position: relative;
  left: 60px;
  top: 8px;
  margin: 0;
  padding: 0;
  float: left;
 

  .tab {
    clear: none;
    float: left;
    padding: 3px;
    margin: 2px;
    margin-bottom: -4px;
    font-size: 16px;
    a {
      color: #ccc;
      text-decoration: none;
      margin: 0px;
    }
  }

  .selected {
    border-bottom: 3px solid #777;
  }
}

#flash_alert {
  border: 1px solid #F44;
  padding: 1em;
  background-color: #FBB;
}

#flash_notice {
  border: 1px solid #2F2;
  padding: 1em;
  background-color: #CFC;
}

