<h1>New account</h1>
<h2>Choose type:</h2>
<ul>
  <li><%= link_to "Bank account", new_bankaccount_path %></li>
  <li>Savings account</li>
  <li>Portfolio</li>
</ul>


<%= link_to 'Back', accounts_path %>
